.kino-form
{
    font-size:12px;
}
.kino-form .kf-require
{
    color:Red;
}

.kino-form .kf-alarm
{
    float:right;
    background: url(../images/erroricon.gif) no-repeat;
    width:16px;
    height:16px;
}




/*错误提示框*/
.kf-error-box-tl, .kf-error-box-tr, .kf-error-box-tc, .kf-error-box-cl, .kf-error-box-cr,
 .kf-error-box-bl, .kf-error-box-br, .kf-error-box-bc
{
	background-image: url(../images/error-tip-corners.gif);
	background-repeat: no-repeat;
}
.kf-error-box-tc, .kf-error-box-bc
{
	height: 6px;
	overflow: hidden;
}
.kf-error-box-tl, .kf-error-box-cl, .kf-error-box-bl
{
	padding-left: 6px;
}
.kf-error-box-tr, .kf-error-box-cr, .kf-error-box-br
{
	padding-right: 6px;
}
.kf-error-box-tr
{
	background-position: right 0;
}
.kf-error-box-tc
{
	height: 6px;
	background-position: 0 -12px;
}
.kf-error-box-cl
{
	background-position: 0 -24px;
}
.kf-error-box-cr
{
	background-position: right -24px;
}
.kf-error-box-bl
{
	background-position: 0 -6px;
}
.kf-error-box-br
{
	background-position: right -6px;
}
.kf-error-box-bc
{
	background-position: 0 -18px;
}
.kf-error-box-body
{
	font-size: 12px;
/*padding-left: 22px;
	background: url(../images/erroricon.gif) no-repeat 3px center;*/
}