.kino-window
{
	position:absolute;
	overflow:hidden;
}
/*顶部*/
.kino-window .tlp
{
	background:url(../Images/corners-sprite.gif) no-repeat left top;
	padding-left:6px;	
	border-bottom:1px solid #99BBE8;
	height:22px;
	overflow:hidden;
}
.kino-window .trp
{
	background:url(../Images/corners-sprite.gif) no-repeat right top;
	padding-right:6px;
	
}
.kino-window .tcp
{
	background:url(../Images/top-bottom.gif) repeat-x;
	height: 22px;
}

.kino-window .tcp span
{
	float:left;
	color:#15428B;
	font-family: tahoma,arial,verdana,sans-serif;
    line-height: 15px;
    font-size: 12px;
	font-weight:bold;
	padding: 5px 3px 4px 5px;
}
.kino-window .tcp .cp
{
	float:right;
}
.kino-window .tcp .cp a
{
	float:right;
}
.kino-window .tools
{
	background:url(../Images/tool-sprites.gif) no-repeat;
	width:15px;height:15px;
	margin-top:5px;
}
.kino-window .tool-close
{	
	background-position:0 0;
}
.kino-window .tool-close:hover
{	
	background-position:-15px 0;
}

.kino-window .tool-toggle-hidden
{	
	background-position:0 -60px
}
.kino-window .tool-toggle-hidden:hover
{	
	background-position:-15px -60px
}

.kino-window .tool-toggle-expanded
{
	background-position:0 -75px
}
.kino-window .tool-toggle-expanded:hover
{
	background-position:-15px -75px
}

/*中部*/
.kino-window .mlp
{
	display:block;
	background:url(../Images/left-right.gif) repeat-y left;
	padding-left:6px;
	
	overflow:hidden;

}
.kino-window .mrp
{
	background:url(../Images/left-right.gif) repeat-y right;
	padding-right:6px;
}

.kino-window .mcp
{
	background:#DFE8F6;
}


/*底部*/
.kino-window .blp
{
	background:url(../Images/corners-sprite.gif) no-repeat left bottom;
	padding-left:6px;
}
.kino-window .brp
{
	background:url(../Images/corners-sprite.gif) no-repeat right bottom;
	padding-right:6px;
	
}
.kino-window .bcp
{
	background:url(../Images/top-bottom.gif) repeat-x bottom;
	height:6px;
}

/*元素样式*/
.kino-window .rows
{
	padding:3px;
}
.kino-window label
{
	margin-right:5px;
}
.kino-window .to
{
	padding-right:6px;
}

#kinomask
{
	position: absolute;
	display: none;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
	background-image: url(../images/c.gif);
	overflow: hidden;
	z-index: 999;
}


.ffnosel
{
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none;
}